<div class="login-page">
    <div class="row">
        <div class="col-lg-5">
            <form id="login-form" data-hook="login-form" class="form-horizontal" style="padding-left: 45em; padding-top: 10em">
                <h1>Login</h1>
                <fieldset data-hook="field-container"></fieldset>
                <div class="control-group">
                    <div class="controls" style="padding-top: 1em; padding-left: 3.5em;">
                        <button id="loginButton" type="submit" class="btn" data-hook="login-user">Sign in</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
